Repository marcinwozniak0/RemoteControlVehicle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT, MASTER_BUILD_JAVA_CENTRAL_UNIT

MASTER_BUILD_CPP_CENTRAL_UNIT:
  script:
  - export TERM=xterm-256color
  - export CXX=/usr/bin/g++
  - /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/scripts/ci_scripts/setup_ci_environment.sh
  - cd /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/scripts/ci_scripts
  - ./compile_project_ci.sh

MASTER_UT_CPP_CENTRAL_UNIT:
  script:
  - export TERM=xterm-256color
  - export CXX=/usr/bin/g++
  - /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/scripts/ci_scripts/setup_ci_environment.sh
  - cd /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/scripts/ci_scripts
  - ./compile_project_ci.sh
  ...

MASTER_VALGRIND_CPP_CENTRAL_UNIT:
  script:
  - export TERM=xterm-256color
  - export CXX=/usr/bin/g++
  - /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/scripts/ci_scripts/setup_ci_environment.sh
  - cd /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/scripts/ci_scripts
  - ./compile_project_ci.sh
  ...

MASTER_BUILD_JAVA_CENTRAL_UNIT:
  script:
  - apt-get update  --yes
  - apt-get install --yes build-essential
  - apt-get install --yes gradle
  - apt-get install --yes openjdk-11-jdk
  - cd /builds/marcinwozniak0/RemoteControlVehicle/ControlPanel
  - gradle build

Dummy commit to check if correct CI jobs will be triggered
  ControlPanel/src/main/java/ControlPanel.java
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

gitlab-ci.yml refactor
  .gitlab-ci.yml
  CentralUnit/scripts/ci_scripts/install_protbuf_lib.sh
  CentralUnit/scripts/ci_scripts/install_protoc.sh
  scripts/ci_scripts/compile_cpp_project.sh
  scripts/ci_scripts/prepare_cpp_environment.sh
  scripts/ci_scripts/prepare_java_environment.sh
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Moved proto files from CentralUnit to common Interfaces folder
  .gitlab-ci.yml
  CentralUnit/CMakeLists.txt
  CentralUnit/CommandsBuilders/Include/ControlerCommandToRunMessageBuilder.hpp
  CentralUnit/CommandsBuilders/Include/MessageBuilder.hpp
  CentralUnit/CommandsBuilders/Source/CMakeLists.txt
  CentralUnit/CommandsBuilders/Source/ControlerCommandToRunMessageBuilder.cpp
  CentralUnit/CommandsBuilders/Test/Mock/MessageBuilderMock.hpp
  CentralUnit/CommandsBuilders/Test/Source/CMakeLists.txt
  CentralUnit/CommandsBuilders/Test/Source/ControlerCommandToRunMessageBuilderTest.cpp
  Interfaces/Protobuf/CMakeLists.txt
  Interfaces/Protobuf/Client.proto
  Interfaces/Protobuf/ControlerCommandToRun.proto
  Interfaces/Protobuf/Deactivate.proto
  Interfaces/Protobuf/EmptyAcknowledge.proto
  Interfaces/Protobuf/HelloMessages.proto
  Interfaces/Protobuf/UserCommandToRun.proto
  Interfaces/Protobuf/UserCommandToStart.proto
  Interfaces/Protobuf/UserCommandToStop.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added proto files generation for java
  .gitlab-ci.yml
  ControlPanel/build.gradle
  ControlPanel/gradle/wrapper/gradle-wrapper.jar
  ControlPanel/gradle/wrapper/gradle-wrapper.properties
  ControlPanel/gradlew
  ControlPanel/gradlew.bat
  ControlPanel/settings.gradle
  ControlPanel/src/main/proto/CMakeLists.txt
  ControlPanel/src/main/proto/Client.proto
  ControlPanel/src/main/proto/ControlerCommandToRun.proto
  ControlPanel/src/main/proto/Deactivate.proto
  ControlPanel/src/main/proto/EmptyAcknowledge.proto
  ControlPanel/src/main/proto/HelloMessages.proto
  ControlPanel/src/main/proto/UserCommandToRun.proto
  ControlPanel/src/main/proto/UserCommandToStart.proto
  ControlPanel/src/main/proto/UserCommandToStop.proto
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Removed duplication of proto files
  ControlPanel/build.gradle
  ControlPanel/src/main/proto/CMakeLists.txt
  ControlPanel/src/main/proto/Client.proto
  ControlPanel/src/main/proto/ControlerCommandToRun.proto
  ControlPanel/src/main/proto/Deactivate.proto
  ControlPanel/src/main/proto/EmptyAcknowledge.proto
  ControlPanel/src/main/proto/HelloMessages.proto
  ControlPanel/src/main/proto/UserCommandToRun.proto
  ControlPanel/src/main/proto/UserCommandToStart.proto
  ControlPanel/src/main/proto/UserCommandToStop.proto
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Aligned interfaces for java use
  Interfaces/Protobuf/CMakeLists.txt
  Interfaces/Protobuf/Client.proto
  Interfaces/Protobuf/ControlerCommandToRun.proto
  Interfaces/Protobuf/Deactivate.proto
  Interfaces/Protobuf/EmptyAcknowledge.proto
  Interfaces/Protobuf/HelloMessages.proto
  Interfaces/Protobuf/InitCommands.proto
  Interfaces/Protobuf/UserCommandToRun.proto
  Interfaces/Protobuf/UserCommandToStart.proto
  Interfaces/Protobuf/UserCommandToStop.proto
Due: none

Aligned CentralUnit to new interfaces structure
  CentralUnit/CommandsBuilders/Source/ControlerCommandToRunMessageBuilder.cpp
  CentralUnit/CommandsBuilders/Test/Source/ControlerCommandToRunMessageBuilderTest.cpp
  CentralUnit/Router/Include/GrpcCommandReceiver.hpp
  CentralUnit/Router/Source/GrpcCommandReceiver.cpp
  CentralUnit/Router/Source/GrpcCommandSender.cpp
  CentralUnit/Router/Test/Include/GrpcCommandSenderTest.hpp
  CentralUnit/Router/Test/Source/GrpcCommandReceiverTest.cpp
  CentralUnit/Utilites/Include/ProtobufStructuresComparators.hpp
  CentralUnit/Utilites/Include/UtCommandsBuilders.hpp
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Utilites/Test/Source/CommandDebugerTest.cpp
  CentralUnit/Vehicle/Include/ThreeWheeledVehicle.hpp
  CentralUnit/Vehicle/Include/Vehicle.hpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicle.cpp
  CentralUnit/Vehicle/Source/VehicleControler.cpp
  CentralUnit/Vehicle/Test/Mock/VehicleMock.hpp
  CentralUnit/Vehicle/Test/Source/VehicleControlerTest.cpp
  CentralUnit/VehicleEquipment/Include/EngineDriver.hpp
  CentralUnit/VehicleEquipment/Include/L293DEngineDriver.hpp
  CentralUnit/VehicleEquipment/Source/L293DEngineDriver.cpp
  CentralUnit/VehicleEquipment/Test/Mock/EngineDriverMock.hpp
  CentralUnit/VehicleEquipment/Test/Source/L293DEngineDriverTest.cpp
  CentralUnit/VehicleSystems/Include/FrontAxialSteeringSystem.hpp
  CentralUnit/VehicleSystems/Include/PropulsionSystem.hpp
  CentralUnit/VehicleSystems/Include/SingleAxisPropulsionSystem.hpp
  CentralUnit/VehicleSystems/Include/SteeringSystem.hpp
  CentralUnit/VehicleSystems/Source/FrontAxialSteeringSystem.cpp
  CentralUnit/VehicleSystems/Source/SingleAxisPropulsionSystem.cpp
  CentralUnit/VehicleSystems/Test/Mock/PropulsionSystemMock.hpp
  CentralUnit/VehicleSystems/Test/Mock/SteeringSystemMock.hpp
  CentralUnit/VehicleSystems/Test/Source/FrontAxialSteeringSystemTest.cpp
  CentralUnit/VehicleSystems/Test/Source/SingleAxisPropulsionSystemTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Excluded GrpcCommandReceiver test from valgrind
  CentralUnit/CMakeLists.txt
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Updated README file
  README.md
  communication_diagram.png
Due: none

Added Spring to project
  ControlPanel/build.gradle
  ControlPanel/src/main/java/ControlPanel.java
  ControlPanel/src/main/java/com/example/springboot/Application.java
  ControlPanel/src/main/java/com/example/springboot/HelloController.java
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Moved java sources into backend directory
  .gitignore
  ControlPanel/backend/bin/main/com/example/springboot/Application.class
  ControlPanel/backend/bin/main/com/example/springboot/HelloController.class
  ControlPanel/backend/build.gradle
  ControlPanel/backend/src/main/java/com/example/springboot/Application.java
  ControlPanel/backend/src/main/java/com/example/springboot/HelloController.java
  ControlPanel/build.gradle
  ControlPanel/settings.gradle
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Added angular frontend application
  ControlPanel/backend/build.gradle
  ControlPanel/backend/src/main/java/com/example/springboot/AngularbootApplication.java
  ControlPanel/backend/src/main/java/com/example/springboot/HelloController.java
  ControlPanel/build.gradle
  ControlPanel/frontend/.editorconfig
  ControlPanel/frontend/.gitignore
  ControlPanel/frontend/README.md
  ControlPanel/frontend/angular.json
  ControlPanel/frontend/browserslist
  ControlPanel/frontend/build.gradle
  ControlPanel/frontend/e2e/protractor.conf.js
  ControlPanel/frontend/e2e/src/app.e2e-spec.ts
  ControlPanel/frontend/e2e/src/app.po.ts
  ControlPanel/frontend/e2e/tsconfig.json
  ControlPanel/frontend/karma.conf.js
  ControlPanel/frontend/package-lock.json
  ControlPanel/frontend/package.json
  ControlPanel/frontend/src/app/app-routing.module.ts
  ControlPanel/frontend/src/app/app.component.css
  ControlPanel/frontend/src/app/app.component.html
  ControlPanel/frontend/src/app/app.component.spec.ts
  ControlPanel/frontend/src/app/app.component.ts
  ControlPanel/frontend/src/app/app.module.ts
  ControlPanel/frontend/src/assets/.gitkeep
  ControlPanel/frontend/src/environments/environment.prod.ts
  ControlPanel/frontend/src/environments/environment.ts
  ControlPanel/frontend/src/favicon.ico
  ControlPanel/frontend/src/index.html
  ControlPanel/frontend/src/main.ts
  ControlPanel/frontend/src/polyfills.ts
  ControlPanel/frontend/src/styles.css
  ControlPanel/frontend/src/test.ts
  ControlPanel/frontend/tsconfig.app.json
  ControlPanel/frontend/tsconfig.json
  ControlPanel/frontend/tsconfig.spec.json
  ControlPanel/frontend/tslint.json
  ControlPanel/package-lock.json
  ControlPanel/settings.gradle
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Added nodeJs to CI
  .gitlab-ci.yml
  scripts/ci_scripts/prepare_java_environment.sh
Due: none

Created simple login panel
  .gitignore
  ControlPanel/backend/bin/main/com/example/springboot/Application.class
  ControlPanel/backend/bin/main/com/example/springboot/HelloController.class
  ControlPanel/frontend/angular.json
  ControlPanel/frontend/package-lock.json
  ControlPanel/frontend/package.json
  ControlPanel/frontend/src/app/app-routing.module.ts
  ControlPanel/frontend/src/app/app.component.css
  ControlPanel/frontend/src/app/app.component.html
  ControlPanel/frontend/src/app/app.component.ts
  ControlPanel/frontend/src/app/app.module.ts
  ControlPanel/frontend/src/app/login/login.component.css
  ControlPanel/frontend/src/app/login/login.component.html
  ControlPanel/frontend/src/app/login/login.component.spec.ts
  ControlPanel/frontend/src/app/login/login.component.ts
  ControlPanel/frontend/src/custom-theme.scss
  ControlPanel/frontend/src/index.html
  ControlPanel/frontend/src/styles.css
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Added sending and handling on server side user credentials to /login endpoint
  .gitignore
  ControlPanel/backend/src/main/java/com/example/springboot/HelloController.java
  ControlPanel/backend/src/main/java/com/example/springboot/User.java
  ControlPanel/frontend/model/report.xml
  ControlPanel/frontend/model/user.spec.ts
  ControlPanel/frontend/model/user.ts
  ControlPanel/frontend/src/app/app.module.ts
  ControlPanel/frontend/src/app/login/login.component.ts
  ControlPanel/frontend/tslint.json
  ControlPanel/package-lock.json
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Refactored backend project structure
  ControlPanel/backend/build.gradle
  ControlPanel/backend/src/main/java/springboot/AngularbootApplication.java
  ControlPanel/backend/src/main/java/springboot/HelloController.java
  ControlPanel/backend/src/main/java/user/User.java
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Added CommandReceiver implementation based on Client.proto grpc server
  .gitignore
  ControlPanel/backend/build.gradle
  ControlPanel/backend/src/main/java/router/CommandReceiver.java
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Added starting grpc server in main function
  ControlPanel/backend/src/main/java/springboot/AngularbootApplication.java
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Changed ports addresses due to testnig interaction with java app
  CentralUnit/Router/Source/GrpcCommandSender.cpp
  CentralUnit/Router/Test/Include/GrpcCommandReceiverTest.hpp
  CentralUnit/main.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added basing client implementation with sending hello command to server
  ControlPanel/backend/src/main/java/router/CommandSender.java
  ControlPanel/backend/src/main/java/springboot/AngularbootApplication.java
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Added status field in Acknowledge command
  CentralUnit/Router/Include/GrpcCommandReceiver.hpp
  CentralUnit/Router/Source/GrpcCommandReceiver.cpp
  CentralUnit/Router/Source/GrpcCommandSender.cpp
  CentralUnit/Router/Test/Source/GrpcCommandReceiverTest.cpp
  CentralUnit/main.cpp
  Interfaces/Protobuf/Acknowledge.proto
  Interfaces/Protobuf/AcknowledgeStatus.proto
  Interfaces/Protobuf/CMakeLists.txt
  Interfaces/Protobuf/Client.proto
  Interfaces/Protobuf/EmptyAcknowledge.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added command for user registration
  Interfaces/Protobuf/CMakeLists.txt
  Interfaces/Protobuf/RegisterUserCommand.proto
Due: none

Added sending RegisterUserCommand from control panel
  ControlPanel/backend/src/main/java/router/CommandSender.java
  ControlPanel/backend/src/main/java/springboot/AngularbootApplication.java
  ControlPanel/backend/src/main/java/springboot/HelloController.java
  ControlPanel/backend/src/main/java/user/User.java
  Interfaces/Protobuf/RegisterUserCommand.proto
Due: MASTER_BUILD_JAVA_CENTRAL_UNIT

Introduced vehicleId fields in commands
  CentralUnit/CommandsBuilders/Include/ControlerCommandToRunMessageBuilder.hpp
  CentralUnit/CommandsBuilders/Source/ControlerCommandToRunMessageBuilder.cpp
  CentralUnit/CommandsBuilders/Test/Source/ControlerCommandToRunMessageBuilderTest.cpp
  CentralUnit/SystemTest/Test/Include/HandlingUserCommandToRunTest.hpp
  CentralUnit/SystemTest/Test/Source/HandlingUserCommandToRunTest.cpp
  CentralUnit/Utilites/Include/UtCommandsBuilders.hpp
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Vehicle/Include/InternalVehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/VehicleControler.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/VehiclePoolControlerTest.hpp
  CentralUnit/Vehicle/Test/Mock/VehiclePoolMock.hpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
  CentralUnit/main.cpp
  Interfaces/Protobuf/ControlerCommandToRun.proto
  Interfaces/Protobuf/UserCommandToRun.proto
  Interfaces/Protobuf/UserCommandToStart.proto
  Interfaces/Protobuf/UserCommandToStop.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added bases operations in InternalVehiclePool
  CentralUnit/Vehicle/Include/InternalVehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePool.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/InternalVehiclePoolTest.hpp
  CentralUnit/Vehicle/Test/Include/VehiclePoolControlerTest.hpp
  CentralUnit/Vehicle/Test/Mock/VehiclePoolMock.hpp
  CentralUnit/Vehicle/Test/Source/InternalVehiclePoolTest.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Register operation takes RegisterVehicle command as argument
  CentralUnit/Utilites/Include/ProtobufStructuresComparators.hpp
  CentralUnit/Utilites/Include/UtCommandsBuilders.hpp
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Vehicle/Include/InternalVehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePool.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/InternalVehiclePoolTest.hpp
  CentralUnit/Vehicle/Test/Mock/VehiclePoolMock.hpp
  CentralUnit/Vehicle/Test/Source/InternalVehiclePoolTest.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
  Interfaces/Protobuf/CMakeLists.txt
  Interfaces/Protobuf/RegisterVehicle.proto
  Interfaces/Protobuf/VehicleType.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added ThreeWheeledVehicleConfiguration proto file
  Interfaces/Protobuf/CMakeLists.txt
  Interfaces/Protobuf/ThreeWheeledVehicleConfiguration.proto
  Interfaces/Protobuf/VehicleType.proto
Due: none

Added ThreeWheeledVehicleFactory
  CentralUnit/Vehicle/Include/ThreeWheeledVehicleFactory.hpp
  CentralUnit/Vehicle/Include/VehicleFactory.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Test/Mock/VehicleFactoryMock.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Created VehicleFactoryFacade
  CentralUnit/SystemTest/Test/Include/HandlingUserCommandToRunTest.hpp
  CentralUnit/SystemTest/Test/Source/HandlingUserCommandToRunTest.cpp
  CentralUnit/Vehicle/Include/InternalVehiclePool.hpp
  CentralUnit/Vehicle/Include/ThreeWheeledVehicleFactory.hpp
  CentralUnit/Vehicle/Include/VehicleFactory.hpp
  CentralUnit/Vehicle/Include/VehicleFactoryFacade.hpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Source/VehicleFactoryFacade.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/InternalVehiclePoolTest.hpp
  CentralUnit/Vehicle/Test/Mock/VehicleFactoryMock.hpp
  CentralUnit/Vehicle/Test/Source/InternalVehiclePoolTest.cpp
  CentralUnit/main.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Handling of RegisterUserCommand was extented with renting vehicle procedure
  CentralUnit/Utilites/Include/UtCommandsBuilders.hpp
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Adapted emergency stop method to vehicle pool
  CentralUnit/Utilites/Include/ProtobufStructuresComparators.hpp
  CentralUnit/Vehicle/Include/InternalVehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/VehiclePoolControlerTest.hpp
  CentralUnit/Vehicle/Test/Mock/VehiclePoolMock.hpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
  CentralUnit/main.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added missing UT for vehicle factories
  CentralUnit/Utilites/Include/ProtobufStructuresComparators.hpp
  CentralUnit/Utilites/Source/CMakeLists.txt
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Vehicle/Include/InternalVehiclePool.hpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/ThreeWheeledVehicleFactoryTest.hpp
  CentralUnit/Vehicle/Test/Include/VehicleFactoryFacadeTest.hpp
  CentralUnit/Vehicle/Test/Include/VehiclePoolControlerTest.hpp
  CentralUnit/Vehicle/Test/Source/ThreeWheeledVehicleFactoryTest.cpp
  CentralUnit/Vehicle/Test/Source/VehicleFactoryFacadeTest.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Review refactor
  CentralUnit/Utilites/Include/ProtobufStructuresComparators.hpp
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Source/VehicleFactoryFacade.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/InternalVehiclePoolTest.hpp
  CentralUnit/Vehicle/Test/Source/VehicleFactoryFacadeTest.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
  Interfaces/Protobuf/VehicleType.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

CMake refactor
  CentralUnit/CMakeLists.txt
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Removed hardcoded pin values
  CentralUnit/CMakeLists.txt
  CentralUnit/Router/Source/GrpcCommandSender.cpp
  CentralUnit/SystemTest/Test/Include/HandlingUserCommandToRunTest.hpp
  CentralUnit/SystemTest/Test/Source/HandlingUserCommandToRunTest.cpp
  CentralUnit/Vehicle/Include/VehicleConfiguration.hpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Test/Source/ThreeWheeledVehicleTest.cpp
  CentralUnit/VehicleEquipment/Include/EngineDriver.hpp
  CentralUnit/VehicleEquipment/Include/L293DEngineDriver.hpp
  CentralUnit/VehicleEquipment/Source/DcEngine.cpp
  CentralUnit/VehicleEquipment/Source/L293DEngineDriver.cpp
  CentralUnit/VehicleEquipment/Test/Include/L293DEngineDriverTest.hpp
  CentralUnit/VehicleEquipment/Test/Mock/EngineDriverMock.hpp
  CentralUnit/VehicleEquipment/Test/Source/L293DEngineDriverTest.cpp
  CentralUnit/VehicleSystems/Source/SingleAxisPropulsionSystem.cpp
  CentralUnit/VehicleSystems/Test/Source/SingleAxisPropulsionSystemTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Removed hardcoded steering wheel pwm pin number
  CentralUnit/SystemTest/Test/Include/HandlingUserCommandToRunTest.hpp
  CentralUnit/SystemTest/Test/Source/HandlingUserCommandToRunTest.cpp
  CentralUnit/Vehicle/Include/VehicleConfiguration.hpp
  CentralUnit/VehicleSystems/Source/FrontAxialSteeringSystem.cpp
  CentralUnit/VehicleSystems/Test/Source/FrontAxialSteeringSystemTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Moved hardcoded values and user defined types aliases to Utilites
  CentralUnit/Utilites/Include/CoordinateSystem.hpp
  CentralUnit/Utilites/Include/PinState.hpp
  CentralUnit/Utilites/Include/VehicleTypes.hpp
  CentralUnit/Vehicle/Test/Source/ThreeWheeledVehicleTest.cpp
  CentralUnit/VehicleEquipment/Include/Engine.hpp
  CentralUnit/VehicleEquipment/Include/L293DEngineDriver.hpp
  CentralUnit/VehicleEquipment/Include/SteeringWheel.hpp
  CentralUnit/VehicleEquipment/Source/DcEngine.cpp
  CentralUnit/VehicleEquipment/Source/L293DEngineDriver.cpp
  CentralUnit/VehicleEquipment/Source/ThirtyDegreesSteeringWheel.cpp
  CentralUnit/VehicleEquipment/Test/Source/DcEngineTest.cpp
  CentralUnit/VehicleEquipment/Test/Source/L293DEngineDriverTest.cpp
  CentralUnit/VehicleSystems/Source/FrontAxialSteeringSystem.cpp
  CentralUnit/VehicleSystems/Test/Source/FrontAxialSteeringSystemTest.cpp
  CentralUnit/VehicleSystems/Test/Source/SingleAxisPropulsionSystemTest.cpp
  CentralUnit/main.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added handling of ports numbers from command line
  CentralUnit/main.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Created RAII wrapper for pointers to mock objects
  CentralUnit/Utilites/Include/MockPointer.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Rebuild VehicleFactory to avoid dangling references
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Vehicle/Include/ThreeWheeledVehicle.hpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicle.cpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Test/Include/InternalVehiclePoolTest.hpp
  CentralUnit/Vehicle/Test/Include/ThreeWheeledVehicleTest.hpp
  CentralUnit/Vehicle/Test/Source/InternalVehiclePoolTest.cpp
  CentralUnit/Vehicle/Test/Source/ThreeWheeledVehicleFactoryTest.cpp
  CentralUnit/Vehicle/Test/Source/ThreeWheeledVehicleTest.cpp
  CentralUnit/VehicleSystems/Include/FrontAxialSteeringSystem.hpp
  CentralUnit/VehicleSystems/Include/SingleAxisPropulsionSystem.hpp
  CentralUnit/VehicleSystems/Source/FrontAxialSteeringSystem.cpp
  CentralUnit/VehicleSystems/Source/SingleAxisPropulsionSystem.cpp
  CentralUnit/VehicleSystems/Test/Include/FrontAxialSteeringSystemTest.hpp
  CentralUnit/VehicleSystems/Test/Include/SingleAxisPropulsionSystemTest.hpp
  CentralUnit/VehicleSystems/Test/Source/FrontAxialSteeringSystemTest.cpp
  CentralUnit/VehicleSystems/Test/Source/SingleAxisPropulsionSystemTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Path conditions:
  MASTER_BUILD_CPP_CENTRAL_UNIT: any of: CentralUnit/**/*
  MASTER_UT_CPP_CENTRAL_UNIT: any of: CentralUnit/**/*
  MASTER_VALGRIND_CPP_CENTRAL_UNIT: any of: CentralUnit/**/*
  MASTER_BUILD_JAVA_CENTRAL_UNIT: any of: ControlPanel/**/*
