Repository marcinwozniak0/RemoteControlVehicle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT, MASTER_BUILD_JAVA_CONTROL_PANEL

.gitlab-ci.yml:

image: debian:10

MASTER_BUILD_CPP_CENTRAL_UNIT:
  only:
    changes:
      - "CentralUnit/**/*"
      - "scripts/ci_scripts/**/*"
      - "Interfaces/**/*"
      - ".gitlab-ci.yml"
    refs:
      - master
  script:
    - /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts/prepare_cpp_environment.sh	
    - cd /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts
    - ./compile_cpp_project.sh

MASTER_UT_CPP_CENTRAL_UNIT:
  only:
    changes:
      - "CentralUnit/**/*"
      - "scripts/ci_scripts/**/*"
      - "Interfaces/**/*"
      - ".gitlab-ci.yml"
    refs:
      - master
  script:
    - /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts/prepare_cpp_environment.sh
    - cd /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts
    - ./compile_cpp_project.sh
    - cd /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/CMake/build/remote_control_vehicle/bin
    - ./remote_control_vehicle_ut

MASTER_VALGRIND_CPP_CENTRAL_UNIT:
  only:
    changes:
      - "CentralUnit/**/*"
      - "scripts/ci_scripts/**/*"
      - "Interfaces/**/*"
      - ".gitlab-ci.yml"
    refs:
      - master
  script:
    - /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts/prepare_cpp_environment.sh
    - cd /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts
    - ./compile_cpp_project.sh
    - cd /builds/marcinwozniak0/RemoteControlVehicle/CentralUnit/CMake/build/remote_control_vehicle
    - make valgrind

MASTER_BUILD_JAVA_CONTROL_PANEL:
  only:
    changes:
      - "ControlPanel/**/*"
      - "scripts/ci_scripts/**/*"
      - "Interfaces/**/*"
      - ".gitlab-ci.yml"
    refs:
      - master
  script:
    - /builds/marcinwozniak0/RemoteControlVehicle/scripts/ci_scripts/prepare_java_environment.sh
    - cd /builds/marcinwozniak0/RemoteControlVehicle/ControlPanel
    - ./gradlew clean build --info

Reenabled HandlingUserCommandToRunTest
  CentralUnit/SystemTest/Test/Include/HandlingUserCommandToRunTest.hpp
  CentralUnit/SystemTest/Test/Source/HandlingUserCommandToRunTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Removed TODO tasks from code
  CentralUnit/Utilites/Include/UtCommandsBuilders.hpp
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
  CentralUnit/Utilites/Test/Source/CommandDebugerTest.cpp
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Test/Source/ThreeWheeledVehicleFactoryTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Fixed wrong java_outer_classname
  Interfaces/Protobuf/VehicleType.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT, MASTER_BUILD_JAVA_CONTROL_PANEL

Changed port of command sender
  ControlPanel/backend/src/main/java/router/CommandSender.java
Due: MASTER_BUILD_JAVA_CONTROL_PANEL

Fixed wrong value in command field in test setup
  CentralUnit/Utilites/Source/UtCommandsBuilders.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

File with logs is now removed before program start
  CentralUnit/Logger/Include/Logger.hpp
  CentralUnit/Logger/Source/Logger.cpp
  CentralUnit/MainTest.cpp
  CentralUnit/main.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added warning log in case of uninitialized vehicle configuration
  CentralUnit/Vehicle/Source/ThreeWheeledVehicleFactory.cpp
  CentralUnit/Vehicle/Test/Include/InternalVehiclePoolTest.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added waiting for connection establish in GrpcSender
  CentralUnit/Router/Include/GrpcCommandSender.hpp
  CentralUnit/Router/Source/GrpcCommandSender.cpp
  CentralUnit/Router/Test/Source/GrpcCommandSenderTest.cpp
  CentralUnit/Utilites/Include/AutoStartingTimer.hpp
  CentralUnit/Utilites/Include/Timer.hpp
  CentralUnit/Utilites/Test/Source/AutoStartingTimerTest.cpp
  CentralUnit/Utilites/Test/Source/TimerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Extend acknowledge by additional_info string
  Interfaces/Protobuf/Acknowledge.proto
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT, MASTER_BUILD_JAVA_CONTROL_PANEL

Added acknowledge mechanism to command handling
  CentralUnit/Router/Include/CommandReceiver.hpp
  CentralUnit/Router/Include/GrpcCommandReceiver.hpp
  CentralUnit/Router/Source/GrpcCommandReceiver.cpp
  CentralUnit/Router/Test/Include/GrpcCommandReceiverTest.hpp
  CentralUnit/Router/Test/Mock/CommandReceiverMock.hpp
  CentralUnit/Router/Test/Source/GrpcCommandReceiverTest.cpp
  CentralUnit/SystemTest/Test/Source/HandlingUserCommandToRunTest.cpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added sleep function in case of empty commands buffer
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Created AcknowledgeBuilder
  CentralUnit/CommandsBuilders/Include/AcknowledgeBuilder.hpp
  CentralUnit/CommandsBuilders/Include/ControlerCommandToRunMessageBuilder.hpp
  CentralUnit/CommandsBuilders/Include/MessageBuilder.hpp
  CentralUnit/CommandsBuilders/Source/AcknowledgeBuilder.cpp
  CentralUnit/CommandsBuilders/Source/ControlerCommandToRunMessageBuilder.cpp
  CentralUnit/CommandsBuilders/Test/Source/AcknowledgeBuilderTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added acknowledge to handling of unknown command
  CentralUnit/Utilites/Include/ProtobufStructuresComparators.hpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/VehiclePoolControlerTest.hpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added acknowledge to handling of UserCommandToRun
  CentralUnit/Router/Include/CommandSender.hpp
  CentralUnit/Router/Include/GrpcCommandSender.hpp
  CentralUnit/Router/Source/GrpcCommandSender.cpp
  CentralUnit/Router/Test/Mock/CommandSenderMock.hpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Include/VehiclePoolControlerTest.hpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added acknowledge to handling of UserCommandToStop
  CentralUnit/Vehicle/Source/InternalVehiclePool.cpp
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added acknowledge to handling of UserCommandToStart
  CentralUnit/Vehicle/Source/VehiclePoolControler.cpp
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added UT for unsuccessful vehicle registration
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added UT for unsuccessful user registration
  CentralUnit/Vehicle/Test/Source/VehiclePoolControlerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added check if acknowledge has been set
  CentralUnit/Router/Include/GrpcCommandReceiver.hpp
  CentralUnit/Router/Source/GrpcCommandReceiver.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Review fixes
  CentralUnit/CommandsBuilders/Test/Source/AcknowledgeBuilderTest.cpp
  CentralUnit/Router/Include/GrpcCommandReceiver.hpp
  CentralUnit/Router/Source/GrpcCommandReceiver.cpp
  CentralUnit/Vehicle/Include/VehiclePoolControler.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Changed time tick value to 1 centisecond(10ms) in UTs
  CentralUnit/Utilites/Test/Source/TimerTest.cpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added enable_if check to MessageBuilder class
  CentralUnit/CommandsBuilders/Include/ControlerCommandToRunMessageBuilder.hpp
  CentralUnit/CommandsBuilders/Include/MessageBuilder.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Created VehicleSimulator subproject
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/main.cpp
  VehicleSimulator/main.qml
  VehicleSimulator/qml.qrc
Due: none

Added protobuf generated files to cmake
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/commandreceiver.cpp
  VehicleSimulator/commandreceiver.hpp
Due: none

Added missed pragma once
  CentralUnit/Router/Include/GrpcCommandReceiver.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Created grpc command receiver
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/commandreceiver.cpp
  VehicleSimulator/commandreceiver.hpp
Due: none

Added grpc command sender
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/GrpcCommandSender.cpp
  VehicleSimulator/GrpcCommandSender.hpp
Due: none

Updated grpc and prtoc
  ControlPanel/backend/build.gradle
  scripts/ci_scripts/compile_cpp_project.sh
  scripts/ci_scripts/prepare_cpp_environment.sh
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT, MASTER_BUILD_JAVA_CONTROL_PANEL

Added grpc to cmake
  VehicleSimulator/CMake/CMakeLists.txt
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/CommandReceiver.cpp
  VehicleSimulator/CommandReceiver.hpp
  VehicleSimulator/main.cpp
Due: none

Updated grpc cmake
  CentralUnit/CMake/CMakeLists.txt
  CentralUnit/CMakeLists.txt
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Added handling of .qrc files in CMake
  VehicleSimulator/CMakeLists.txt
Due: none

Created empty dir and added gtest to cmake
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/MainTest.cpp
  VehicleSimulator/Number.cpp
  VehicleSimulator/Number.hpp
  VehicleSimulator/RentalOffice/Source/CMakeLists.txt
  VehicleSimulator/RentalOffice/Test/Source/CMakeLists.txt
Due: none

Created dummy counter based on qml setContextProperty
  VehicleSimulator/Number.cpp
  VehicleSimulator/Number.hpp
  VehicleSimulator/main.cpp
  VehicleSimulator/main.qml
Due: none

Added RentalOffice abstract class with mock
  VehicleSimulator/RentalOffice/Include/RentalOffice.hpp
  VehicleSimulator/RentalOffice/Test/Mock/RentalOfficeMock.hpp
Due: none

Upgraded mock methods signatures
  CentralUnit/CommandsBuilders/Test/Mock/MessageBuilderMock.hpp
  CentralUnit/Router/Test/Mock/CommandReceiverMock.hpp
  CentralUnit/Router/Test/Mock/CommandSenderMock.hpp
  CentralUnit/Vehicle/Test/Mock/VehicleFactoryMock.hpp
  CentralUnit/Vehicle/Test/Mock/VehicleMock.hpp
  CentralUnit/Vehicle/Test/Mock/VehiclePoolMock.hpp
  CentralUnit/VehicleEquipment/Test/Mock/EngineDriverMock.hpp
  CentralUnit/VehicleEquipment/Test/Mock/EngineMock.hpp
  CentralUnit/VehicleEquipment/Test/Mock/SteeringWheelMock.hpp
  CentralUnit/VehicleSystems/Test/Mock/PropulsionSystemMock.hpp
  CentralUnit/VehicleSystems/Test/Mock/SteeringSystemMock.hpp
Due: MASTER_BUILD_CPP_CENTRAL_UNIT, MASTER_UT_CPP_CENTRAL_UNIT, MASTER_VALGRIND_CPP_CENTRAL_UNIT

Created CarRental class
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/RentalOffice/Include/CMakeLists.txt
  VehicleSimulator/RentalOffice/Include/CarRental.hpp
  VehicleSimulator/RentalOffice/Include/Number.hpp
  VehicleSimulator/RentalOffice/Source/CarRental.cpp
  VehicleSimulator/RentalOffice/Source/Number.cpp
Due: none

Created empty Car structure
  VehicleSimulator/RentalOffice/Include/Car.hpp
  VehicleSimulator/RentalOffice/Include/CarRental.hpp
Due: none

Created IdDistributor abstract class
  VehicleSimulator/RentalOffice/Include/IdDistributor.hpp
  VehicleSimulator/RentalOffice/Test/Mock/IdDistributorMock.hpp
Due: none

Created CarIdDistributor class
  VehicleSimulator/CMakeLists.txt
  VehicleSimulator/RentalOffice/Include/CarIdDistributor.hpp
  VehicleSimulator/RentalOffice/Include/IdDistributor.hpp
  VehicleSimulator/RentalOffice/Source/CarIdDistributor.cpp
  VehicleSimulator/RentalOffice/Test/Include/CarIdDistributorTest.hpp
  VehicleSimulator/RentalOffice/Test/Mock/IdDistributorMock.hpp
  VehicleSimulator/RentalOffice/Test/Source/CarIdDistributorTest.cpp
Due: none

Added _id and less comparator to Car structure
  VehicleSimulator/RentalOffice/Include/Car.hpp
Due: none
